 * {
 	box-sizing: border-box;
 }

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

/* Primera sección de la página, con un gif de fondo, contiene
barra de navegación, y caja del input */
 #principal {
 	margin-top: 0;
 	margin-left: 0;
 	height: 535px;
 	width: 100%;
 	background-image: url(../assets/images/hero.gif);
	background-size: 100%;
	background-position: center;
}

nav {
	width: 100%;
	height: 115px;
	padding-top: 11px;
	padding-bottom: auto;
}

nav img {
 	max-width: 64px;
 	margin-top: 17.83px;
 	margin-left: 80px;
  }

nav ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 100px;
	letter-spacing: 1px;
}

nav li {
	display: inline-block;
}

nav a {
	display: block;
	line-height: 27px;
	font-size: 18px;
	color: white;
	text-decoration: none;
	padding: 24px;
}

nav a:hover {
	color: #ff00bf;
}

nav li:last-of-type a {
	padding: 24px 16px;
}

nav li:last-of-type a:hover {
	color: white;
}

nav li p {
	margin: 0;
	line-height: 27px;
	padding: 8px 16px;
	border: 1px solid white;
	border-radius: 8px;
}


/* Caja Blanca con el input */
#white-box {
	clear: right;
	float: right;
	background-color: white;
	padding: 65px 65px;
	height: 420px;
	width: 540px;
	letter-spacing: .5px;
}
 
#white-box h1, #white-box h2 {
	color: #352384;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
	font-size: 40px;
	line-height: 44px;
}

#white-box p:first-of-type {
	color: #352384;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 8px;
	margin-bottom: 0;
	font-size: 15px;
	letter-spacing: 1px;
}

input {
	border: none;
	width: 427px;
	padding: 23px 12px 5px 0;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 24px;
	border-bottom: 1px solid #352384;
}

input:focus {
	outline: none;
}

input::placeholder {
	color: #bfc7d9;
}

.buttom {
	width: 180px;
	height: 52px;
	margin-right: 0;
	float: left;
}

.first a {
	text-decoration: none;
	color: white;
	display: block;
	line-height: 52px;
	text-align: center;
	background-color: #ff00bf;
	border-radius: 10px;
	font-weight: normal;
	
}

.second {
	text-align: center;

}

.second a {
	display: block;
	color: #728099;
	font-weight: 300;
	font-size: 16px;
	line-height: 52px;
}

.second a:hover {
	color: #b30086;
}

.sub-text {
	clear: both;
	font-size: 10px;
	line-height: 14px;
	color: #728099;
	font-weight: 300;
}

.sub-text a {
	text-decoration: none;
	color: #ff00bf;
}

.sub-text a:hover {
	color: #b30086;
	text-decoration: underline;
}


/* Segunda sección de la página. 3 Párrafos con celular al lado. */
 #box-two {
 	margin-top: 0;
 	width: 100%;
    background-image: linear-gradient(#76278F, #2B1E66);
    box-shadow: 0 0 150px 85px #76278f;
 }

 #text {
 	width: 650px;
 	padding-top: 90px;
 	color: white;
 	padding-left: 150px;
 	padding-right: 60px;
 	padding-bottom: 40px;
 	letter-spacing: .5px;
 	margin: 0;
 	display: inline-block;
 }

 h3 {
 	margin: 0;
 	text-transform: uppercase;
 	font-size: 28px;
 	font-weight: normal;
 }

#box-two p {
	margin-bottom: 70px;
	font-weight: 300;
}

#img {
	float: right;
	width: 490px;
	height: 500px;
	background-image: url(../assets/images/phone.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 140px;
 	margin-top: 70px;
}


/* Tercera sección de la página */
#box-three {
	margin: 0;
	background-color: white;
}

/* Videos 3ra, 4ta y 5ta sección */
iframe {
	float: right;
	border: none;
	height: 460px;
	width: 838px;
	margin: 0;
}

/* Párrafos 3ra, 4ta y 5ta sección*/
.paragraph {
	display: inline-block;
	width: 460px;
	padding: 30px 50px;
	height: 460px;
}

.paragraph h3, .paragraph p:first-child {
	text-transform: uppercase;
	margin: 0;
	font-weight: 500;
}

.paragraph p:first-child {
	font-size: 12px;
}

/* Video 4ta sección */ 
#box-four iframe {
	float: left;
}

/* Footer */
footer {
	margin: 0;
	background-color: #333447;
	text-align: center;
	color: white;
	padding-bottom: 16px;
}

#list {
	padding-top: 40px;
	color: white;
	padding-bottom: 50px;
	text-align: left;
	padding-left: 20px;
}

#list img {
	max-width: 135px;
}

#list ul {
	margin: 0 55px;
	list-style: none;
	display: inline-block;
	text-align: left;
	padding: 0;
}

#list li {
	margin: 25px;
}

#list ul:last-of-type {
	margin-left: 100px;
}

#list li a {
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	text-decoration: none;
	color: white;
}

#list h3 a { 
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 8px;
	letter-spacing: 1px;
}

#list li a:hover {
	text-decoration: underline;
	color: #FF00BF;
}

#list h3 a:hover {
	color: white;
}

#icons ul {
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
}

#icons li {
	display: inline-block;
	margin: 0 35px 20px 35px;
	line-height: 35px;
	border: 1px solid white;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

#icons a {
	display: block;
	color: white;
	text-decoration: none;
}

hr {
	width: 60%;
}

footer p {
	margin-top: 50px;
}